<div class="weather-widget p-4 rounded-lg shadow-md bg-white">
  <h2 class="text-xl font-semibold mb-2">Reloj del hijo</h2>

  <div class="mb-5">
    <h2 class="text-3xl font-bold tabular-nums">{{ currentTime() | date: 'HH:mm:ss' }}</h2>
  </div>
  <div class="flex flex-wrap gap-4">
    <button
      type="button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="refreshTime()"
    >
      Actualizar hora
    </button>

    <button
      type="button"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      (click)="toggleAutoRefresh()"
    >
      {{ autoRefresh() ? 'Apagar' : 'Prender' }} intervalo
    </button>
  </div>
</div>
